<div class="header-container">
  <h1>Welcome to Wear-BnB</h1>
  <p>The number one place for all your clothing rental needs.</p>
  </div>
  <div class="headline-container">
    <h4 class="category-headline"><i class="fas fa-chevron-circle-down"></i></h4>
  </div>
  <div class="body-container">
    <div class="categories-grid">
      <% @first_half.each do |category| %>
      <%= link_to clothing_items_path(filter: category) do %>
      <div class="card bg-dark text-white card-category">
        <%= image_tag "#{category}.jpg" %>
        <div class="card-img-overlay card-category-text">
          <h5 class="card-title"><%= category.capitalize %></h5>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="middle-category">
      <% @middle.each do |category| %>
      <%= link_to clothing_items_path(filter: category) do %>
      <div class="card bg-dark text-white card-category middle-card">
        <%= image_tag "#{category}.jpg" %>
        <div class="card-img-overlay card-category-text">
          <h5 class="card-title"><%= category.capitalize %></h5>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="categories-grid">
      <% @second_half.each do |category| %>
      <%= link_to clothing_items_path(filter: category) do %>
      <div class="card bg-dark text-white card-category">
        <%= image_tag "#{category}.jpg" %>
        <div class="card-img-overlay card-category-text">
          <h5 class="card-title"><%= category.capitalize %></h5>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>

