<div class="item-info-container">
  <div class="item-image">
    <%= image_tag @clothing_item.picture, class: 'item-img' %>
  </div>
  <div class="item-info">
    <div class="calendar">
      <%= form_for [@clothing_item, @reservation] do |f| %>
      <%= f.text_field :begin_date, id:'date-picker', placeholder: 'Choose your dates..' %>
    </div>
    <div class="item-contents">
      <ul>
        <li id="item-name"><h2><%= @clothing_item.name.upcase %></h2></li>
        <li id="item-price"><h2>$<%= @clothing_item.price %></h2></li>
      </ul>
      <p><%= @clothing_item.description %></p>
      <!-- <%= link_to clothing_item_reservations_path(@clothing_item) do %> -->
      <!-- <button class='btn btn-outline-dark submit-button'>Add to Cart</button> -->
      <%= f.submit "Submit", class: "btn btn-outline-dark submit-button" %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>


