<div class="item-info-container">
  <div class="item-image">
    <%= image_tag @clothing_item.picture, class: 'item-img' %>
  </div>
  <div class="item-info">
    <div class="calendar">
      <%= form_for [@clothing_item, @reservation] do |f| %>
      <%= f.text_field :begin_date, id:'date-picker', placeholder: 'Choose your dates..', data: { 'unavailable-dates': @all_reservations } %>
    </div>
    <div class="item-contents">
      <ul>
        <li id="item-name"><h2><%= @clothing_item.name.upcase %></h2></li>
        <li id="item-price"><h2>$<%= @clothing_item.price %></h2></li>
      </ul>
      <p><%= @clothing_item.description %></p>
      <%= f.submit "Add to cart", class: "btn btn-outline-dark submit-button" %>
    </div>
    <% end %>
  </div>

  <%= simple_form_for [@clothing_item, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating %>
  <%= f.submit 'Add review', class: 'btn btn-outline-dark'  %>
  <% end %>
  <br>
</div>

<section class="reviews-container">
  <h1>Reviews for <%= @clothing_item.name.capitalize %></h1>
  <div class="reviews-grid">
    <% @clothing_item.reviews.map do |review| %>
    <div class="review-card">
      <div class="review-card-infos">

        <% review.rating.times do%>
         <i class="fas fa-star"></i>
        <% end %>
      <h2> <%= review.reservation.user.email %> </h2>
      <p> <%= review.comment %> </p>
      </div>
    </div>
    <% end %>
  </div>
</section>
