<div class="item-info-container">
  <div class="item-image">
    <%= image_tag @clothing_item.picture, class: 'item-img' %>
  </div>
  <div class="item-info">
    <div class="calendar">
      <%= form_for [@clothing_item, @reservation] do |f| %>
      <%= f.text_field :begin_date, id:'date-picker', placeholder: 'Choose your dates..', data: { 'unavailable-dates': @all_reservations } %>
    </div>
    <div class="item-contents">
      <ul>
        <li id="item-name"><h2><%= @clothing_item.name.upcase %></h2></li>
        <li id="item-price"><h2>$<%= @clothing_item.price %></h2></li>
      </ul>
      <p><%= @clothing_item.description %></p>
        <%= f.submit "Add to cart", class: "btn btn-outline-dark submit-button" %>
      </div>
      <% end %>
    </div>

    <%= simple_form_for [@clothing_item, @review] do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating %>
      <%= f.submit 'Add review', class: 'btn btn-outline-dark'  %>
    <% end %>
    <br>

  </div>

  <% @clothing_item.reviews.map do |review| %>
  <li><%= review.reservation.user.email %> - </li>
  <li> <%= review.rating %> - <%= review.comment %></li>
  <% end %>

